p {
    text-align: justify;
}

body {
    background-color: salmon;
    color: white;
}

details {
    padding: 2%;
}

summary {
    font-size: 40px;
    color: blue;
}

details > p {
    color: aqua;
}
dd{
    text-align: justify;
}